# Project-specific ignores
public/uploads/

# Temporary and scratch files
scratch/
*.sql
# services/
# System files
.DS_Store
Thumbs.db

#tools
x-tools/

# IDE settings
.vscode/
.idea/

# Composer packages
/vendor/

#.ai for Ai agent
.ai/